@import "tailwindcss";

/*--------------------------------------
  Fonts
---------------------------------------*/
@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Regular.ttf') format('woff2'),
        url('./assets/fonts/Mulish-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-Bold.ttf') format('woff2'),
        url('./assets/fonts/Mulish-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------
  Global styles
---------------------------------------*/
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color: var(--white);
}

/*--------------------------------------
  Theme variables
---------------------------------------*/
@theme {
    --color-white: #fff;
    --color-black: #020202;
    --color-secondary: #616161;
    --color-theme: #4097FF;
    --color-gray-light: #f4faff;
    --color-gray-medium: #f0f0f0;
    --color-gray-dark: #d9d9d9;
    --color-bg-footer: #2161AE;


    --font-size-sm: clamp(10px, 1.11vw, 16px);
    /* Figma: 25.27px → réduit */
    --font-size-base: clamp(12px, 1.25vw, 18px);
    /* Figma: 28.2px */
    --font-size-lg: clamp(14px, 1.39vw, 20px);
    /* Figma: 32.09px */

    --font-size-7xl: clamp(38px, 6.67vw, 96px);
    /* Figma: 112px */
    --font-size-6xl: clamp(29px, 5vw, 72px);
    /* Figma: 99px */
    --font-size-5xl: clamp(24px, 4.17vw, 60px);
    /* Figma: 79px */
    --font-size-4xl: clamp(19px, 3.33vw, 48px);
    /* Figma: 48px */
    --font-size-3xl: clamp(16px, 2.78vw, 40px);
    /* Figma: 50px */
    --font-size-2xl: clamp(14px, 2.5vw, 36px);
    /* Figma: 48px */
    --font-size-xl: clamp(12px, 2.08vw, 30px);
    /* Figma: 38px */


    --font-family-heading: 'Mulish';
    --font-family-body: 'Mulish';

    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

/*--------------------------------------
  Keyframes
---------------------------------------*/

/* *** */

/*--------------------------------------
  Utilities
---------------------------------------*/
@layer utilities {

    *::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    * {
        scrollbar-width: thin;
    }

    .text-sm {
        font-size: var(--font-size-sm);
        font-family: var(--font-family-body);
    }

    .text-base {
        font-size: var(--font-size-base);
        font-family: var(--font-family-body);
    }

    .text-lg {
        font-size: var(--font-size-lg);
        font-family: var(--font-family-body);
    }

    .text-h1 {
        font-size: var(--font-size-heading-1);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h2 {
        font-size: var(--font-size-heading-2);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h3 {
        font-size: var(--font-size-heading-3);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h4 {
        font-size: var(--font-size-heading-4);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h5 {
        font-size: var(--font-size-heading-5);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h6 {
        font-size: var(--font-size-heading-6);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .text-h7 {
        font-size: var(--font-size-heading-7);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .font-heading {
        font-family: var(--font-family-heading);
    }

    .font-body {
        font-family: var(--font-family-body);
    }

    .font-normal {
        font-weight: var(--font-weight-normal);
    }

    .font-bold {
        font-weight: var(--font-weight-bold);
    }
}

/*--------------------------------------
  Components
---------------------------------------*/
@layer components {
    .__container {
        @apply max-w-[1240px] h-full mx-auto px-4;
    }


    /* Gestions de l'onglet actif */
    .link-underline::after {
        content: ' ';
        @apply w-0 h-1.5 absolute -bottom-5.5 left-1/2 -translate-x-1/2 bg-white transition-all duration-200;
    }

    .link-underline-active::after {
        @apply w-1/2;
    }
}